<div class="small-container center-block">
  <h2 class="my-4">Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, "Email", class: 'mb-2' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="actions mt-4">
      <%= f.submit "Reset password", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="d-flex mt-3 align-items-center justify-content-center">
    <%= render "devise/shared/links"%>
  </div>
</div>
