<%=form_with(model: @post, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

   <div class="field">
    <%=form.label :content %>
    <%=form.rich_text_area :content %>
  </div>

  <div class="mt-3">
    <%= form.submit %>
  </div>
<%end %>